* {
  margin: 2px;
  padding: 5px;
}

.chatroom-container {
  background-color: #2f3136;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.message-list {
  overflow-y: scroll;
  height: 800px;
  width: 1200px;
  border: solid black 1px;
  background: gray;
}
.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.invite {
  width: 250px;
  height: 200px;
}

.channel-items {
  align-items: center;
}

.channel-name {
  background-color: gray;
  color: white;
  width: 1200px;
}

.message-form > input[type=text]  {
  background-color: rgba(88, 87, 87, 0.966);
  width: 1127px;
}