.server-item {
  background-color: #2f3136;
  display: flex;
}

.server-container {
  flex: 10%;
}

.chat-room {
  flex: 80%;
  color: white;
  font-family: Whitney;
}

.channel-container {
  flex: 10%;
  position: absolute;
  left: 100px;
  margin: 10px;
  padding: 10px;
}