.login-form-container {
  margin: auto;
  display: grid;
  place-items: center;
  text-align: center;
}

.login-signup {
  display: grid;
  place-items: center;
  text-align: center;

}

.login-form-box {
  display: grid;
  place-items: center;
  text-align: center;

}

.header-link {
  display: grid;
  place-items: center;
  text-align: center;

}